# shellcheck disable=SC2148
strict_env

__use_nvm() {
  watch_file .nvmrc
  watch_file .node-version
  export NODE_VERSION_PREFIX="v"
  export NODE_VERSIONS="${NVM_DIR}/versions/node"
  # use the built-in function to load node, but detect error to log an additional hint
  if ! use node; then
    log_status "HINT: run $ nvm install \$NODEJS_VERSION && direnv reload"
    exit 1
  fi
}


__use_nvm

# IMPORTANT: load the (optional ) local .env files last, to make sure it cant interfer the other config
# (the .env file is only supposed to contain env vars for the application, not for tools and platforms)
dotenv_if_exists .env
